@using MyBookCollection.Models.Data
@model List<Author>
@{
    ViewBag.Title = "Authors List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Authors</a>
    </li>
    <li class="breadcrumb-item active">All Authors</li>
</ol>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <i class="fas fa-pen-nib"></i>
        All Author's List
        <a class="btn btn-info float-right fas fa-plus-square" href="#" data-toggle="modal" data-target="#addAuthorModal">

            Add New
        </a>
        @* <a href="#" class="btn btn-info float-right fas fa-plus-square"> Add New</a> *@
    </div>
    <div class="card-body">
        <div class="table-responsive">

            @*             <div id="modal-placeholder"></div> *@
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>Author's Name</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>@(Model.IndexOf(item) + 1)</td>

                            <td>@item.Name</td>
                            <td>
                                @* <button class="btn btn-primary add-or-edit-author" data-id="@item.Id">
                                    Edit
                                </button> *@
                                <a href="#" class="btn btn-outline-info edit-author"
                                   data-id="@item.Id"
                                   data-name="@item.Name">
                                    Edit
                                </a>
                                <a href="#" class="btn btn-outline-danger delete-author-btn"
                                    data-id="@item.Id" data-name="@item.Name"
                                   data-toggle="modal" data-target="#deleteAuthorModal">
                                   Delete</a>
                            </td>


                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="addAuthorModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5 text-success" id="staticBackdropLabel">Add New Author</h5>

                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span class="text-danger" aria-hidden="true">x</span>
                </button>
            </div>
            <form id="authorForm" method="post" asp-antiforgery="true">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group">
                        <label for="authorName">Author Name</label>
                        <input type="text" class="form-control" id="authorName" name="Name" placeholder="Enter Author's Name" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>


        </div>
    </div>
</div>
<!-- Delete Modal -->
<div class="modal fade" id="deleteAuthorModal" tabindex="-1" aria-labelledby="deleteAuthorModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="deleteAuthorModalLabel">Confirm Delete</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span class="text-danger" aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete <strong class="text-danger" id="deletedAuthorName"></strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form id="deleteAuthorForm" method="post">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
       $(document).on('click', '.edit-author', function (event) {
        event.preventDefault();

        var authorId = $(this).data('id');
        var authorName = $(this).data('name');

        if (!authorId || !authorName) {
            console.error('Author ID or Name is null or empty.');
            return;
        }

        // Set the input field value dynamically
        $('#authorName').val(authorName);

        // Change the form action for editing
        var actionUrl = '@Url.Action("EditAuthor", "Author")/' + authorId;
        $('#authorForm').attr('action', actionUrl);

        // Change modal title
        $('#staticBackdropLabel').text('Edit Author Name');

        // Show the modal
        $('#addAuthorModal').modal('show');
    });

    // Reset the form when opening for "Add New Author"
    $(document).on('click', '[data-target="#addAuthorModal"]', function () {
        // Clear input fields
        $('#authorName').val('');

        // Reset the form action for adding
        $('#authorForm').attr('action', '@Url.Action("CreateNewAuthor", "Author")');

        // Reset modal title
        $('#staticBackdropLabel').text('Add New Author');
    });

    $(document).on('click', '.delete-author-btn', function () {
        // Get Author Details
        var authorId = $(this).data('id');
        var authorName = $(this).data('name');

        // Populate Modal
        $('#deletedAuthorName').text(authorName);
        console.log('Populated Modal with Author Name:', $('#deletedAuthorName').text());
        // Set Form Action
        var deleteUrl = '@Url.Action("DeleteConfirmed", "Author")/' + authorId;
        $('#deleteAuthorForm').attr('action', deleteUrl);
    });

</script>
